header {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: calc(10px + 8vmin);
  margin: 0;
}

header h2 {
  font-size: calc(10px + 4vmin);
  margin: 0;
}

.parallax {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /* Set a specific height */
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 /* Turn off parallax scrolling for all tablets and phones */
 @media only screen and (max-device-width: 1080px) {
  .parallax {
    background-attachment: scroll;
  }
} 

.bgportrait {
  background-image: url("img_intro.jpg");
}

.bg3 {
  background-image: url("img_toronto.jpg");
}

.bg2 {
  background-image: url("img_london.jpg");
}

.bg1 {
  background-image: url("img_washington.jpg");
}

.bg0 {
  background-image: url("img_cumberland.jpg");
}

.bgcontact {
  background-image: url("img_outro.jpg");
}

/* -6 deg and -3deg transforms work for 1920w */
@media (max-height: 360px) {
  .background-rotated-panel {
    visibility: hidden;
  }
  .foreground-rotated-panel {
    visibility: hidden;
  }
}
@media (min-height: 361px) {
  .background-rotated-panel {
    visibility: visible;
  }
  .foreground-rotated-panel {
    visibility: visible;
  }
}

/* if returning to this, z-index does nothing currently */
.background-rotated-panel {
  background-color: var(--byz);
  min-height: 65px;
  height: 20vh;
  width: 120%;
  margin-top: -10%;
  margin-left: -10%;
  transform: rotate(-6deg);
}

.foreground-rotated-panel {
  background-color: var(--byz-shade);
  min-height: 65px;
  height: 20vh;
  width: 110%;
  margin-top: -5%;
  margin-left: -5%;
  transform: rotate(-3deg);
}

.content {
  background-color: var(--byz-shade);
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-prompt-scroll {
  font-size: calc(10px + 8vmin);
  margin-top: -35%;
  padding-top: 0;
}

.content-secondary {
  margin-top: -5%;
}

/*.content-journey {
  background-color: #e5e4e2;
  color:#440027;
}*/

.content-title {
  margin-top: 60px;
}

.content-summary {
  margin-left: 15%;
  margin-right: 15%;
}

.content-location {
  font-size: calc(10px + 6vmin);
  text-align: center;
  justify-content: center;
}

.content-location-section {
  margin-top: 75px;
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  justify-content: left;
}

.content-location-section h4 {
  margin-bottom: 2px;
}

.content-location-section h6 {
  margin-top: 0;
}

.content-location-section p, ul {
  font-size: calc(10px + 1vmin);
}

/* .content-position-title {

} */

.content-position-subtitle {
  font-weight: normal;
}

.content-link {
  color: var(--gold);
}

.content-hr {
  border: 1px solid var(--gold);
  width: 120%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  margin-left: -10%;
}

.content-outro {
  background-color: var(--platinum);
  color: var(--byz-shade);
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-outro-blurb {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.content-outro-subtitle {
  font-size: calc(10px + 2vmin);
}

.content-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content-social-container {
  height: 128px;
  width: 128px;
  margin: 0px 15px 0px 15px;
}

.content-social-image {
  height: 128px;
  width: 128px;
  transition: transform .25s; /* Animation */
}

.content-social-image:hover {
  transform: scale(1.2);
}

.content-social-linkedin {
  /* LinkedIn insisting on using the registered mark is kind of insane and breaks the flow of the page.*/
  height: 108px;
  width: 127px;
  /* 🙄 <em>sigh</em> */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: transform .25s; /* Animation */
}

.content-social-linkedin:hover {
  transform: translateY(-50%) scale(1.2);
}

.rights {
  text-align: center;
  padding-bottom: 2%;
}